.body {
    padding-right: 0;
    margin-right:0;
}

.container {
    background: linear-gradient(to right, gray, deepskyblue, gray, deepskyblue,gray);
    width: 20%;
    height: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-top: 80px;
    border: 2px solid black;


}

.row-col {
    display: flex;
}


.big-column-one {
    width:75px;
    display: inline;
    border: 1px solid black;
    border-radius: 5%;
}

#box {
    width: 30px;

}

.operator {
    border: 1px solid black;
    border-radius: 5%;
    color: red;
    font-weight: bolder;
    height: 200px;
}

.big-column-two {
    width: 75px;
    border: 1px solid black;
    border-radius: 5%;
}

.big-column-one, .big-column-two, .operator{
    height: 30px;
    margin: 1px;
    font-size: 20px;
}

.buttons {
    width: 45px;
    position: relative;
    top: 30px;
    left: 4px;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 2px;

}


